
.fleft{
    float:left;
}
.wcenter{
    width:100%;
    height:auto;
    display:block;
    position:relative;
    text-align: center;
    margin:0 auto;
}
.bg{
    width: 100%;
    height:auto;
    display: block;
    background: url("./huhu_simg/bg2.png");
    z-index: 0;
}
.bgwave{
    /*background: url("./huhu_simg/bg1.png");*/
    display: block;
    width: 150%;
    height:auto;
    position:relative;
    z-index: 5;
    margin-left:-50px;

}
.title{
    display: block;
    height:auto;
    position:relative;
    z-index: 35;
    margin-left:15px;
    -webkit-animation:titleanime 6s infinite linear ;
    -moz-animation:titleanime 6s infinite linear;
    -ms-animation:titleanime 6s infinite linear;
    -o-animation:titleanime 6s infinite linear;
    animation:titleanime 6s infinite linear;
}
.cloud1{
    display: block;
    height:auto;
    position:relative;
    z-index: 35;
    margin-left:15px;
    -webkit-animation:cloud1anime 3s infinite linear ;
    -moz-animation:cloud1anime 3s infinite linear;
    -ms-animation:cloud1anime 3s infinite linear;
    -o-animation:cloud1anime 3s infinite linear;
    animation:cloud1anime 3s infinite linear;
}
.cloud2{
    display: block;
    height:auto;
    position:relative;
    z-index: 35;
    margin-left:140px;
    margin-top:20px;
    -webkit-animation:cloud2anime 3s infinite linear ;
    -moz-animation:cloud2anime 3s infinite linear;
    -ms-animation:cloud2anime 3s infinite linear;
    -o-animation:cloud2anime 3s infinite linear;
    animation:cloud2anime 3s infinite linear;
}


.waveposition1{
    display: block;
    width: 150%;
    height:auto;
    position:relative;
    z-index: 15;
    left:-15px;
    margin-top:-55px;
}

.waveposition2{
    display: block;
    width: 150%;
    height:auto;
    position:relative;
    z-index: 15;
    left:-50px;
    margin-top:-45px;
}
.waveposition3{
    display: block;
    width: 150%;
    height:auto;
    position:relative;
    z-index: 25;
    left:-15px;
    margin-top:-100px;
}

.waveposition4{
    display: block;
    width: 150%;
    height:auto;
    position:relative;
    z-index: 30;
    left:-50px;
    margin-top:-65px;
}
.waveposition5{
    display: block;
    width: 150%;
    height:auto;
    position:relative;
    z-index: 35;
    left:-15px;
    margin-top:-45px;
}

.waveposition6{
    display: block;
    width: 150%;
    height:auto;
    position:relative;
    z-index: 40;
    left:-50px;
    margin-top:-45px;
}
/*.cloud{*/
    /*position:relative;*/
    /*margin-top:30px;*/
    /*margin-left:50px;*/
/*}*/
.island{
    position: relative;
    z-index: 10;
    margin-top: -110px;
    margin-left:10px;
    -webkit-animation:islandanime 3s infinite linear ;
    -moz-animation:islandanime 3s infinite linear;
    -ms-animation:islandanime 3s infinite linear;
    -o-animation:islandanime 3s infinite linear;
    animation:islandanime 3s infinite linear;
}
.fish{
    position: relative;
    z-index:20;
    margin-top: -120px;
    margin-left:50px;
    -webkit-animation:fishanime 3s infinite linear ;
    -moz-animation:fishanime 3s infinite linear;
    -ms-animation:fishanime 3s infinite linear;
    -o-animation:fishanime 3s infinite linear;
    animation:fishanime 3s infinite linear;
}
.boat{
    position: relative;
    z-index:30;
    margin-top: -180px;
    margin-left:180px;
    -webkit-animation:boatanime 3s infinite linear ;
    -moz-animation:boatanime 3s infinite linear;
    -ms-animation:boatanime 3s infinite linear;
    -o-animation:boatanime 3s infinite linear;
    animation:boatanime 3s infinite linear;
}
.hoop{
    position: relative;
    z-index:35;
    margin-top: -100px;
    margin-left:30px;
    -webkit-animation:hoopanime 3s infinite linear ;
    -moz-animation:hoopanime 3s infinite linear;
    -ms-animation:hoopanime 3s infinite linear;
    -o-animation:hoopanime 3s infinite linear;
    animation:hoopanime 3s infinite linear;
}
.naipaopao{
    position:relative;
    margin:0 auto;
    -webkit-animation:balloonanime 3s infinite linear ;
    -moz-animation:balloonanime 3s infinite linear;
    -ms-animation:balloonanime 3s infinite linear;
    -o-animation:balloonanime 3s infinite linear;
    animation:balloonanime 3s infinite linear;
}
.wave1{
    -webkit-animation:wave1amime 4s infinite linear ;
    -moz-animation:wave1amime 4s infinite linear;
    -ms-animation:wave1amime 4s infinite linear;
    -o-animation:wave1amime 4s infinite linear;
    animation:wave1amime 4s infinite linear;
    /*-webkit-transition-property:all;*/
    /*-webkit-transition-duration:3000ms;*/
    /*-webkit-transition-timing-function:ease;*/
}

.wave2{
    -webkit-animation:wave2amime 4s infinite linear ;
    -moz-animation:wave2amime 4s infinite linear;
    -ms-animation:wave2amime 4s infinite linear;
    -o-animation:wave2amime 4s infinite linear;
    animation:wave2amime 4s infinite linear;
    /*-webkit-transition-property:all;*/
    /*-webkit-transition-duration:3000ms;*/
    /*-webkit-transition-timing-function:ease;*/
}
@keyframes wave1amime {
     0% {transform:translate(-50px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
    50% {transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
     100% {transform:translate(50px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
}
@keyframes wave2amime {
    0% {transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
    50% {transform:translate(-50px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
    100% {transform:translate(-100px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
}

@keyframes hoopanime {
    0% {transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
    25% {transform:translate(30px, -10px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(30deg) translate(0%, 0%);}
    50% {transform:translate(30px, 10px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(200deg) translate(0%, 0%);}
    /*70% {transform:translate(5px, 15px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(270deg) translate(0%, 0%);}*/
    100% {transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(15deg) translate(0%, 0%);}
}
@keyframes boatanime {
    0% {transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
    33% {transform:translate(15px, -15px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(-30deg) translate(0%, 0%);}
    66% {transform:translate(30px, -10px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
    /*75% {transform:translate(5px, -5px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(15deg) translate(0%, 0%);}*/
    100% {transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
}
@keyframes fishanime {
    0% {transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
    25% {transform:translate(15px, -50px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(50deg) translate(0%, 0%);}
    50% {transform:translate(50px, -30px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(20deg) translate(0%, 0%);}
    75% {transform:translate(20px, 5px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(15deg) translate(0%, 0%);}
    100% {transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
}
@keyframes islandanime {
    0% {transform:translate(0px, 10px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
    15% {transform:translate(-10px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(2deg) translate(0%, 0%);}
    30% {transform:translate(-20px, -10px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(5deg) translate(0%, 0%);}
    40% {transform:translate(-15px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(10deg) translate(0%, 0%);}
    65% {transform:translate(10px, -5px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(-5deg) translate(0%, 0%);}
    75% {transform:translate(20px, -10px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(-5deg) translate(0%, 0%);}
    85% {transform:translate(10px, -3px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) translate(0%, 0%);}
    100% {transform:translate(0px, 10px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
}
@keyframes balloonanime {
    0% {transform:translate(0px, 10px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
    15% {transform:translate(10px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(2deg) translate(0%, 0%);}
    30% {transform:translate(20px, -10px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(15deg) translate(0%, 0%);}
    50% {transform:translate(15px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(10deg) translate(0%, 0%);}
    65% {transform:translate(5px, -5px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(-5deg) translate(0%, 0%);}
    75% {transform:translate(-10px, -10px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) translate(0%, 0%);}
    85% {transform:translate(-15px, -3px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) translate(0%, 0%);}
    100% {transform:translate(0px, 10px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
}

@keyframes cloud1anime {
     0% {transform:translate(0px, 10px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
     15% {transform:translate(20px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(2deg) translate(0%, 0%);}
     30% {transform:translate(40px, -10px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(15deg) translate(0%, 0%);}
     50% {transform:translate(60px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(10deg) translate(0%, 0%);}
     65% {transform:translate(80px, -5px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(-5deg) translate(0%, 0%);}
     75% {transform:translate(100px, -10px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) translate(0%, 0%);}
     85% {transform:translate(120px, -3px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) translate(0%, 0%);}
     100% {transform:translate(140px, 10px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
 }
@keyframes cloud2anime {
    0% {transform:translate(0px, 10px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
    15% {transform:translate(20px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(2deg) translate(0%, 0%);}
    30% {transform:translate(40px, -10px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(15deg) translate(0%, 0%);}
    50% {transform:translate(60px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(10deg) translate(0%, 0%);}
    65% {transform:translate(80px, -5px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(-5deg) translate(0%, 0%);}
    75% {transform:translate(100px, -10px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) translate(0%, 0%);}
    85% {transform:translate(120px, -3px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) translate(0%, 0%);}
    100% {transform:translate(140px, 10px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
}
@keyframes titleanime {
    0% {transform:translate(300px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
    100% {transform:translate(-300px, 0) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);}
}
