<div class="clear"></div>
<div class="flink">
  <div class="title">
    <div class="main"><span>友情链接</span></div>
  </div>
  <div class="main">
  
[.link row="5" type="1" name="link".]
	<a href="[.$link.url.]" title="[.$link.title.]">[.$link.title.]</a>
[./link.]

     </div>
</div>
<div class="foot">
  <div class="main"> <a href="/" title="[.$ourphp_web.webname.]" class="footlogo"><img src="[.$templatepath.]images/logo.png" alt="[.$ourphp_web.webname.]" /></a>
    <div class="foot_r"> 地址：[.$ourphp_web.webadd.]&nbsp;&nbsp;电话：[.$ourphp_web.webtel.]&nbsp;&nbsp;传真：[.$ourphp_web.webfax.] <br /> 版权所有 (C) [.$ourphp_web.webname.] <br />
      [.$ourphp_web.by.] [.$version.] ICP备案编号：<a href="http://www.miitbeian.gov.cn/" target="_blank" title="[.$ourphp_web.webicp.]">[.$ourphp_web.webicp.]</a> [.$ourphp_web.webstatistics.]</div>
	  
	  <div class="foot_ewm"><img src="[.$templatepath.]images/erweima.png" border="0" width="95" height="95" /></div>
  </div>
</div>
[.$ad.foot.]
[.$advert.float.]
[.$advert.right.]
[.$advert.double.]
[.service type="0".]