<div class="foot">
	<div class="center f"><img src="[.$templatepath.]shop/footimg.jpg" />
		<div class="clear h20"></div>
		<div class="foot_left">
		
			<dl class="footli">
				<dt><a href="#">购物指南</a></dt>
				<dd><a href="#">支付方式</a></dd>
				<dd><a href="#">配送方式</a></dd>
				<dd><a href="#">发票流程</a></dd>
			</dl>
			<dl class="footli">
				<dt><a href="#">售后服务</a></dt>
				<dd><a href="#">售后政策</a></dd>
				<dd><a href="#">退货规则</a></dd>
				<dd><a href="#">退货指南</a></dd>
				<dd><a href="#">保质期说明</a></dd>
			</dl>
			<dl class="footli">
				<dt><a href="#">自助服务</a></dt>
				<dd><a href="#">服务网点</a></dd>
				<dd><a href="#">相关下载</a></dd>
				<dd><a href="#">预约服务</a></dd>
			</dl>
			<dl class="footli">
				<dt><a href="#">关于我们</a></dt>
				<dd><a href="#">联系我们</a></dd>
				<dd><a href="#">人才招聘</a></dd>
				<dd><a href="#">在线留言</a></dd>
			</dl>
		
		</div>
		<div class="foot_right">
			<p>客户服务中心</p>
			<p>[.$ourphp_web.webtel.]</p>
			<p>QQ:[.$ourphp_web.webqq.]</p>
			<p>Email:[.$ourphp_web.webemail.]</p>
			<p>公司地址:[.$ourphp_web.webadd.]</p>
		</div>
		<div class="clear h20"></div>
		<div class="bq">Copyright &copy; [.$ourphp_web.webname.] 2014-2015 All rights reserved</div>
		<p class="bq">[.$ourphp_web.by.]</p>
		<div class="clear h20"></div>
		<div class="bq"><img src="[.$templatepath.]shop/beian.png" /><img src="[.$templatepath.]shop/unionpay.png" /><img src="[.$templatepath.]shop/alipay.png" /><img src="[.$templatepath.]shop/xinren.png" /><img src="[.$templatepath.]shop/360.png" /></div>
	</div>
</div>
<script type="text/javascript" src="[.$templatepath.]shop/jquery.goup.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.goup({
                trigger: 100,
                bottomOffset: 150,
                locationOffset: 100,
                title: '',
                titleAsText: true
            });

        });
    </script>
