<meta name="Author" content="www.ourphp.net" />
<link rel="stylesheet" href="[.$templatepath.]ourphp_ui/css/style.css">
<link rel="stylesheet" href="[.$templatepath.]ourphp_ui/css/ui.css">
<script src="[.$templatepath.]ourphp_ui/js/jquery-1.7.2.min.js"></script>
<script src="[.$templatepath.]ourphp_ui/js/ourphp.js"></script>
<script src="[.$templatepath.]ourphp_ui/js/jquery.mmenu.min.js"></script>
<script src="[.$templatepath.]ourphp_ui/js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="[.$templatepath.]ourphp_ui/js/script.js"></script> 
<script type="text/javascript">
$(function() {
	$('nav#menu').mmenu();
});
</script>