<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,user-scalable=no">
	<title>[.$ourphp_web.website.]</title>
	<meta name="keywords" content="[.$ourphp_web.webkeywords.]"/>
	<meta name="description" content="[.$ourphp_web.webdescriptions.]"/>
	[.include file="cn/cn_head.html".]
</head>
<body>
<div class="center">

	[.include file="cn/cn_top.html".]
	
	  <div class="clear"></div>
	  <div class="newslist">
	  	<h1><span class="f1">&nbsp;</span>[.$listname.title.]</h1>

		<div class="clear"></div>
	  	<ul>
			<h2>[.$opcms.title.]</h2>
			<div class="newstime">时间:[.$opcms.time.]</div>
			<div class="clear"></div>
			<div class="tu">
							<div id="slideBox" class="slideBox">
				
								<div class="bd">
									<ul>
										[.foreach $opcms.img as $key => $op.]
											<li><a class="pic" href="#"><img src="[.$webpath.][.$op.img.]" alt="[.$opcms.title.]"/></a></li>
										[./foreach.]
									</ul>
								</div>
				
								<div class="hd">
									<ul></ul>
								</div>
							</div>
							<script type="text/javascript">
								TouchSlide({ 
									slideCell:"#slideBox",
									titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
									mainCell:".bd ul", 
									effect:"leftLoop", 
									autoPage:true,//自动分页
									autoPlay:true //自动播放
								});
							</script>
			</div>
			<script src="[.$webpath.]function/plugs/layer/layer.min.js"></script>
			<li>商品编号：[.$opcms.number.]</li>
			<li>商品品牌：[.$opcms.brand.title.]</li>
			<li>市场价格：<del>[.$opcms.market.]</del></li>
			<li>本站价格：[.$opcms.webmarket.]</li>
			[.foreach from=$opcms.attribute item=aop.]
			<li>[.$aop.name.]：[.$aop.key.]</li>
			[./foreach.]
			<li>兑换积分：<span style="color:#FF0000; font-size:16px;">[.$opcms.integralexchange.]</span></li>
			<li style="height:50px;"><a href="javascript:dialog([.$opcms.id.],'wap')"><img src="/skin/dhan.png" /></a>
				<script>
				function dialog(id,type){
					$.layer({
						type: 2,
						title: '积分兑换',
						shade: [0],
						border: [5, 0.3, '#000'],
						area: ['90%', '330px'],
						iframe:{src: '[.$webpath.]function/ourphp_integral.php?id='+id+'&type='+type,scrolling: 'yes'}
					});
				};
				</script>
			</li>
			<div class="clear"></div>
			<div class="nr">
				<div class="nrtitle">属性</div>
				<div class="prsx2 font14">
					[.foreach from=$opcms.attribute item=aop.]
					<p>[.$aop.name.]：[.$aop.key.]</p>
					[./foreach.]
				</div>
			</div>
			<div class="clear"></div>
			<div class="nr">
				<div class="nrtitle">详细</div>
			<div class="img">
			[.$opcms.content.]
			</div>
			</div>
		</ul>

		<div class="clear h50"></div>
		<div class="pagetop h30 b-r10">[.uptext form="product" type="up" font="上一条：" noacc="暂无数据" url="wap".]</div>
		<div class="pagefoot h30 b-r10">[.uptext form="product" type="down" font="下一条：" noacc="暂无数据" url="wap".]</div>
	  </div>
	  
	  <div class="clear"></div>
[.include file="cn/cn_foot.html".]

</div>
</body>
</html>