		<ul>
			<li><a href="[.$webpath.]client/wap/?[.$ip.lang.]-shoppingcart.html" class="car">我的购物车<span>([.$wapshoppingcart['tiaoshu'].])</span></a></li>
			<li><a href="[.$webpath.]client/wap/?[.$ip.lang.]-usershopping.html" class="buy">我的订单<span>([.$wapshoppingorder['tiaoshu'].])</span></a></li>
			<li><a href="[.$webpath.]client/wap/?[.$ip.lang.]-userintegral.html" class="int">领取积分</a></li>
			<li><a href="[.$webpath.]client/wap/?[.$ip.lang.]-userpay.html" class="ali">我要充值</a></li>
			<li><a href="[.$webpath.]client/wap/ourphp_play.class.php?ourphp_cms=out&lang=cn" class="out">退出</a></li>
		</ul>