<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,user-scalable=no">
	<title>[.$ourphp_web.website.]</title>
	<meta name="keywords" content="[.$ourphp_web.webkeywords.]"/>
	<meta name="description" content="[.$ourphp_web.webdescriptions.]"/>
	[.include file="cn/cn_head.html".]
</head>
<body>
<div class="center">
[.include file="cn/cn_top.html".]
	  <div class="clear"></div>
		<div class="usertop">
			<div class="usercenter2">
				<div class="usertx"><img src="/skin/user.png" class="touxiang b-r30"></div>
				<div class="userjf">
					<p>账号:[.$user.email.]</p>
					<p>现金:[.$user.money.] 元</p>
					<p>积分:[.$user.integral.] 分</p>
					<p>会员组:[.$user.class.]</p>
				</div>
			</div>
		</div>
	  <div class="clear"></div>
	  <div class="usernav">
	  	[.include file="cn/cn_leftnav.html".]
	  </div>
	  <div class="clear"></div>
[.include file="cn/cn_foot.html".]
</div>
</body>
</html>