<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="images/ourphp_login.css" rel="stylesheet" type="text/css"> 
<style type="text/css">
<!--
.STYLE1 {color: #FFFFFF}
-->
</style>
</head>

<body>
<Div class="ourphp_newslist">
<form id="form1" name="form1" method="post" action="../ourphp_out.php?ourphp_admin=del">
<table width="90%" border="0" align="center" cellpadding="10" style="margin-top:30px;">
  <tr>
    <td colspan="2" bgcolor="#488fcd"><span class="STYLE1">清理缓存文件</span></td>
  </tr>
  <tr>
    <td width="6%"><div align="right">
      <input type="checkbox" name="checkbox[]" value="aboutview" id="aboutview" />
    </div></td>
    <td width="94%"><label for="aboutview">单页面缓存</label></td>
  </tr>
  <tr>
    <td width="6%"><div align="right">
      <input type="checkbox" name="checkbox[]" value="service" id="service" />
    </div></td>
    <td width="94%"><label for="service">浮动客服缓存</label></td>
  </tr>
  <tr>
    <td><div align="right">
      <input type="checkbox" name="checkbox[]" value="about" id="about" />
    </div></td>
    <td><label for="about">单独调用单页缓存</label></td>
  </tr>
  <tr>
    <td><div align="right">
      <input type="checkbox" name="checkbox[]" value="video" id="video" />
    </div></td>
    <td><label for="video">单独调用视频缓存</label></td>
  </tr>
  <tr>
    <td><div align="right">
      <input type="checkbox" name="checkbox[]" value="ad" id="ad" />
    </div></td>
    <td><label for="ad">全站广告缓存</label></td>
  </tr>
  <tr>
    <td><div align="right">
      <input type="checkbox" name="checkbox[]" value="banner" id="banner" />
    </div></td>
    <td><label for="banner">BANNER缓存</label></td>
  </tr>
  <tr>
    <td><div align="right">
      <input type="checkbox" name="checkbox[]" value="web" id="web" />
    </div></td>
    <td><label for="web">网站基本信息缓存</label></td>
  </tr>
  <tr>
    <td><div align="right">
      <input type="checkbox" name="checkbox[]" value="link" id="link" />
    </div></td>
    <td><label for="link">友情链接缓存</label></td>
  </tr>
  <tr>
    <td><div align="right">
      <input type="radio" name="radiobutton" value="by" />
    </div></td>
    <td>编译文件(不推荐)</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="Submit" value="提交" class="ourphp-anniu" /></td>
  </tr>
</table>
</form>
</Div>
</body>
</html>
