		<ul>
			<li><span>>></span><a href="[.$webpath.]client/user/">会员中心</a></li>
			<li><span>>></span><a href="[.$webpath.]?[.$ip.lang.]-shoppingcart.html">我的购物车<div class="shoppingcart">[.$shoppingcart['tiaoshu'].]</div></a></li>
			<li><span>>></span><a href="[.$webpath.]client/user/?[.$ip.lang.]-usershopping.html">我的订单<div class="shoppingcart">[.$shoppingorder['tiaoshu'].]</div></a></li>
			<li><span>>></span><a href="[.$webpath.]client/user/?[.$ip.lang.]-userintegral.html">领取积分</a></li>
			<li><span>>></span><a href="[.$webpath.]client/user/?[.$ip.lang.]-userpay.html">我要充值</a></li>
			<li><span>>></span><a href="[.$webpath.]client/user/?[.$ip.lang.]-usermail.html">站内信件</a></li>
			<li><span>>></span><a href="[.$webpath.]client/user/?[.$ip.lang.]-useredit.html">修改资料</a></li>
			<li><span>>></span><a href="[.$webpath.]client/user/ourphp_play.class.php?ourphp_cms=out&lang=cn">退出</a></li>
		</ul>