[.config_load file="../../config/ourphp.conf".]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>会员中心 - [.$ourphp_web.website.] </title>
<link rel="stylesheet" href="[.$templatepath.]css/style.css" type="text/css" />
[.#jq172#.]
</head>

<body>
[.include file="cn_head.html".] 
<div class="clear h40"></div>
<div class="ourphp_login">
  <div class="ourphp_left">
		<h1>找回密码</h1>
		<div class="clear h20"></div>
		
		
	[.*找回密码表单开始*.]
	[.if empty($smarty.get.user).]
	<form id="form1" name="form1" method="post" action="?[.$ip.lang.]-password.html-&user=email" class="registerform">
	<table width="100%" border="0" cellpadding="8">
          <tr>
            <td><div align="right">输入要找回的账号：</div></td>
            <td><input type="text" name="OP_Useremail" class="input" datatype="e" value="格式:77701950@qq.com" onfocus="if (value =='格式:77701950@qq.com'){value =''}" onblur="if (value ==''){value='格式:77701950@qq.com'}" /> <font color="#FF0000">*</font></td>
          </tr>
		  <tr>
            <td><div align="right">验证码：</div></td>
            <td><input type="text" name="code" class="input3" datatype="*" onfocus="document.getElementById('checkcode').src+='?'" /> <font color="#FF0000">*</font>&nbsp;<img title="点击刷新" id="checkcode" src="[.$webpath.]function/ourphp_code.php" align="absbottom" onclick="this.src='[.$webpath.]function/ourphp_code.php?'+Math.random();" width="80" height="25"></img></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>
            <input type="submit" name="Submit" value="下一步" style="width:91px; height:27px; border:0px; background:url([.$webpath.]skin/anniu.gif) no-repeat; color:#FFFFFF;" /></td>
          </tr>
    </table>
	</form>
	[.elseif $smarty.get.user == 'email'.]
	<form id="form1" name="form1" method="post" action="?[.$ip.lang.]-password.html-&user=faq" class="registerform">
	<table width="100%" border="0" cellpadding="8">
          <tr>
            <td><div align="right">验证答案：</div></td>
            <td>[.$faq[2].]</td>
          </tr>
		  <tr>
            <td><div align="right">输入答案：</div></td>
            <td><input type="text" name="OP_Useranswer" class="input" datatype="*" /> <font color="#FF0000">*</font>
			  <input type="hidden" name="OP_Useremail" value="[.$faq[1].]" />
			</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>
            <input type="submit" name="Submit" value="下一步" style="width:91px; height:27px; border:0px; background:url([.$webpath.]skin/anniu.gif) no-repeat; color:#FFFFFF;" /></td>
          </tr>
    </table>
	</form>
	[.elseif $smarty.get.user == 'faq'.]
	<form id="form1" name="form1" method="post" action="?[.$ip.lang.]-password.html-&user=ok" class="registerform">
	<table width="100%" border="0" cellpadding="8">
		  <tr>
            <td><div align="right">输入新密码：</div></td>
            <td><input type="password" name="OP_Userpass" class="input" datatype="*" /> <font color="#FF0000">*</font>
			  <input type="hidden" name="OP_Useremail" value="[.$faq[1].]" />
			  <input type="hidden" name="OP_Useranswer" value="[.$faq[2].]" />
			</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>
            <input type="submit" name="Submit" value="下一步" style="width:91px; height:27px; border:0px; background:url([.$webpath.]skin/anniu.gif) no-repeat; color:#FFFFFF;" /></td>
          </tr>
    </table>
	</form>
	[./if.]
	
	<link rel="stylesheet" href="../../function/plugs/Validform/style.css" type="text/css" />
	<script type="text/javascript" src="../../function/plugs/Validform/Validform_v5.3.2.js"></script>
	<script type="text/javascript">
	$(function(){
		$(".registerform").Validform();  //就这一行代码！;
	})
	</script>
	[.*找回密码表单结束*.]
	
	</div>
	<div class="ourphp_right">
	
	  <table width="90%" border="0" align="center" cellpadding="10">
		<tr>
          <td><div class="regtologin"><a href="[.$webpath.]client/user/?cn-reg.html">注 册</a></div></td>
        </tr>
      </table>
	  
	</div>
</div>
[.include file="cn_foot.html".] 
</body>
</html>
